# Ignore system/user folders
../*
!/Documents/finance-app/

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# OS/mac/Windows
.DS_Store
Thumbs.db
*.log

# Env/config
.env
.env.local
